.jumbotron {/* this changes the size and colour properties of the header */
	margin-bottom: 0px;
	padding-top: 10px;
	height: 230px;
	margin-top: 0px;
	background-color: #DCDCDC;
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background colour of the navigation bar when hovered over */
	color: #FFF;
	background-color: #FFD700;
}

.navbar li a {/* this changes the height of the navigation bar */
 line-height: 30px;
}

.footer {/* this adds a border to the top of the footer */
  border-top: double;
}
